@page "/DemandeSignature/Validation/{valeurCode}"
@using Grs.BioRestock.Transfer.DataModels.Document;
@layout MainLayout
@attribute [AllowAnonymous]

<MudPaper Class="pa-16 ma-2" Elevation="0">
    <h3>Verification</h3>

    @if (document.CodeSignature == valeurCode)
    {
        <MudText Typo="Typo.h4">le dcument @valeurCode est vérifier</MudText>
    }
    else
    {
        <MudText Typo="Typo.h4">le dcument @valeurCode n'est pas vérifier'</MudText>
    }
</MudPaper>

@code {

    [Inject] private IDocumentClient _documentClient{ get; set; }

    [Parameter] public string valeurCode { get; set; }

    protected DocumentDto document { get; set; } = new();


    protected override async Task OnInitializedAsync()
    {
        try
        {
            var raw = await _documentClient.VerifierSingatureAsync(valeurCode);
            if (raw.Succeeded)
            document = raw.Data;
        }
        catch (Exception)
        {
            throw;
        }
    }
}