@page "/Validation_document/{valeurCode}"
@using Grs.BioRestock.Transfer.DataModels.Document;
@using Grs.BioRestock.Transfer.Requests.Identity;
@layout MainLayout
@attribute [AllowAnonymous]

<style>
    .container{
        padding-top: 25%;
    }

    .titre {
        text-align : center;
        padding-top: 50px;
        padding-bottom: 30px;
    }
</style>
<MudLayout Class="">
    <MudText Typo="Typo.h4" Class="titre">Vérification du Document</MudText>
    <div class="d-flex flex-grow-1 gap-1">
        @if (document.CodeSignature == valeurCode)
        {
        <div Class="d-inline-flex pa-4" style="width:50%; height:400px">                
                <MudSpacer />
                <br />
                <embed src="@document.FileUrlsSigne"
             
                       title="Document" />
        </div>
        <div Class="d-inline-flex pa-4">
                <MudText Typo="Typo.subtitle1" Class="container">
                    le dcument @valeurCode est vérifier <br />
                    <MudList Class="align-content-center">
                        <MudListItem >
                            Date de signature : @document.DateSignature.ToString("dd/MM/yyyy")
                        </MudListItem>
                        <MudListItem >
                            Signé par : @_profileModel.FirstName @_profileModel.LastName
                        </MudListItem>
                    </MudList>
                </MudText>

        </div>
            }
            else
            {
            <MudText Typo="Typo.h4">le dcument n exiest pas</MudText>
            }
    </div>
</MudLayout>
@code {

    [Inject] private IDocumentClient _documentClient { get; set; }

    [Parameter] public string valeurCode { get; set; }

    protected DocumentDto document { get; set; } = new();
    private readonly UpdateProfileRequest _profileModel = new();



    protected override async Task OnInitializedAsync()
    {
        await VerificationDoc(valeurCode);
        await LoadDataAsync();
    }

    private async Task VerificationDoc(string id)
    {
        try
        {
            var raw = await _documentClient.VerifierSingatureAsync(valeurCode);
            if (raw.Succeeded)
                document = raw.Data;
        }
        catch (Exception)
        {
            throw;
        }
    }

    private async Task LoadDataAsync()
    {
        var state = await _stateProvider.GetAuthenticationStateAsync();
        var user = state.User;
        _profileModel.Email = user.GetEmail();
        _profileModel.FirstName = user.GetFirstName();
        _profileModel.LastName = user.GetLastName();
        _profileModel.PhoneNumber = user.GetPhoneNumber();  
    }
}