@using Grs.BioRestock.Shared.Enums.Demande;
@using Grs.BioRestock.Transfer.DataModels.Document;
@inject IJSRuntime _JSRuntime;

<div style="width:100%;height:100%;align-content:center;text-align:center;">
    <iframe id="pdfViewer" src="" style="width:100%;height:680px;"></iframe>
</div>

@code {
    private DemandeStatut statutSigner = DemandeStatut.Signé;
    private DemandeStatut statutAnnuler = DemandeStatut.Annulé;
    private DemandeStatut statutNouveau = DemandeStatut.Nouveau;

    [Inject] private IDocumentClient _documentClient { get; set; }

    [ParameterAttribute]
    public DocumentDto document { get; set; } = new();

    protected List<DocumentDto> allDocument { get; set; } = new();

    [ParameterAttribute]
    public int IdFile { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetAllDemande();

         OpenPDF(IdFile);

    }

    private async Task GetAllDemande()
    {
        try
        {
            var response = await _documentClient.GetAllGetAsync();
            if (response.Succeeded)
            {
                allDocument = response.Data.ToList();
            }
        }
        catch (Exception)
        {
            throw;
        }
    }

    public void OpenPDF(int IdFile)
    {
        var document = allDocument.FirstOrDefault(d => d.Id == IdFile);
        string filePath = document.FileUrl;
        ((IJSRuntime)_JSRuntime).InvokeAsync<object>("openPDF", filePath);
    }
}
